<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.BluetoothManager.UI"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.android.BluetoothManager.Application.BluetoothManagerApplication" >
        <activity
            android:label="@string/app_name"
            android:name="com.android.BluetoothManager.UI.UI" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.BluetoothManager.UI.MessageUI" >
        </activity>
        <activity android:name="com.android.BluetoothManager.UI.ChatUI" >
        </activity>
        <activity android:name="com.android.BluetoothManager.UI.FTPUI" >
        </activity>
        <activity android:name="com.android.BluetoothManager.UI.DeviceListActivity" >
        </activity>

        <service android:name="com.android.BluetoothManager.Radio.BluetoothManagerService" >
        </service>
    </application>

</manifest>